.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 10px;
    background-color: var(--bg-brand);
    min-width: 100vw;
    min-height: 50px;
    box-shadow: 0 0 2ch var(--bg-shadow);
    color: var(--bg-brand-secondary);
}

.app-title {
    font-weight: 600!important;
}