@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

:root {
    --list-theme-blue-primary-0: #2564cf;
    --list-theme-blue-primary-10: #2564cf;
    --list-theme-blue-primary-20: #2564cf;
    --list-theme-blue-contrast-highlight-quick-fix: #2e5cdb;
    --list-theme-blue-top: #765ee6;
    --list-theme-blue-bottom: #1c9fff;
    --list-theme-blue-top-minimized: #525bea;
    --list-theme-blue-bottom-minimized: #4672de;
    --list-theme-red-primary-0: #b24642;
    --list-theme-red-primary-10: #d2534e;
    --list-theme-red-primary-20: #d3411b;
    --list-theme-red-contrast-highlight-quick-fix: #c23732;
    --list-theme-red-top: #e84f53;
    --list-theme-red-bottom: #ebbd94;
    --list-theme-red-top-minimized: #e26165;
    --list-theme-red-bottom-minimized: #e17765;
    --list-theme-purple-primary-0: #673aa2;
    --list-theme-purple-primary-10: #7a45bf;
    --list-theme-purple-primary-20: #7651d1;
    --list-theme-purple-contrast-highlight-quick-fix: #7943bf;
    --list-theme-purple-top: #954db0;
    --list-theme-purple-bottom: #7159f0;
    --list-theme-purple-top-minimized: #8752ca;
    --list-theme-purple-bottom-minimized: #7657e8;
    --list-theme-green-primary-0: #4e8c26;
    --list-theme-green-primary-10: #5ca52d;
    --list-theme-green-primary-20: #408226;
    --list-theme-green-contrast-highlight-quick-fix: #3b7a14;
    --list-theme-green-top: #51a03e;
    --list-theme-green-bottom: #aadf5d;
    --list-theme-green-top-minimized: #5ba741;
    --list-theme-green-bottom-minimized: #75ba4a;
    --list-theme-skyblue-primary-0: #1c76c5;
    --list-theme-skyblue-primary-10: #228be8;
    --list-theme-skyblue-primary-20: #007acd;
    --list-theme-skyblue-contrast-highlight-quick-fix: #136dbd;
    --list-theme-skyblue-top: #558deb;
    --list-theme-skyblue-bottom: #53d2e5;
    --list-theme-skyblue-top-minimized: #548deb;
    --list-theme-skyblue-bottom-minimized: #54a7e9;
    --bg-primary: #fff;
    --bg-secondary: #faf9f8;
    --bg-tertiary: #fff;
    --bg-primary-accent: #faf9f8;
    --bg-hover: #f5f5f5;
    --bg-hover-secondary: #fdfdfd;
    --bg-hover-tertiary: #f5f5f5;
    --bg-active: #eff6fc;
    --bg-active-secondary: #f3f2f1;
    --bg-active-tertiary: #f3f2f1;
    --bg-separator: #e1dfdd;
    --bg-border: #e1dfdd;
    --bg-scrollbar: #edebe9;
    --bg-shadow: rgba(0, 0, 0, 0.1);
    --bg-brand: #2564cf;
    --bg-brand-hover: #215aba;
    --bg-brand-hover-secondary: #8c93a5;
    --bg-brand-secondary: #ecf6fd;
    --bg-brand-disable: #b7d7f6;
    --font-color-primary: #292827;
    --font-color-secondary: #605e5c;
    --font-color-tertiary: #605e5c;
    --font-color-warning: #a80000;
    --font-color-brand: #2564cf;
    --font-color-disable: #a19f9d;
    --bg-ms-planner: #31752f;
    --bg-ms-one-note: #7719aa;
    --bg-ms-excel: #107c41;
    --bg-ms-word: #185abd;
    --bg-ms-power-point: #c43e1c;
    --bg-ms-teams: #6355a8;
    --bg-ms-loop: #8230FF;
    --bg-warning: #fff4ce;
    --bg-error: #fed9cc;
    --font-primary: 'Segoe UI', sans-serif;
}